.xyz {
  margin: 0;
  position: relative;
  font-size: 40px;
  font-weight: 700;
  font-family: var(--m3-body-small);
  color: var(--color-black);
  text-align: left;
}
.component1emailIcon,
.component1keyIcon,
.component1keyIcon1 {
  position: relative;
  width: 24px;
  height: 24px;
  display: none;
}
.welcomeOnboard {
  margin: 0;
  position: relative;
  font-size: 36px;
  font-weight: 400;
  font-family: var(--m3-body-small);
  color: var(--color-black);
  text-align: left;
}
.stroke {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--m3-sys-light-on-surface);
  box-sizing: border-box;
  height: 1px;
  max-width: 100%;
}
.supportingText1,
.textField1 {
  flex: 1;
  font-family: var(--m3-body-small);
  color: var(--m3-sys-light-on-surface);
}
.textField1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--m3-sys-light-surface-variant);
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--m3-body-large-size);
  min-width: 250px;
  max-width: 100%;
  margin-left: -458px;
}
.supportingText1 {
  align-self: stretch;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: left;
}
.supportingText,
.textField {
  flex-direction: row;
  justify-content: flex-start;
}
.supportingText {
  height: 20px;
  display: none;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  z-index: 3;
}
.textField {
  align-self: stretch;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}
.stroke1 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--m3-sys-light-on-surface);
  box-sizing: border-box;
  height: 1px;
  max-width: 100%;
}
.supportingText3,
.textField3 {
  flex: 1;
  font-family: var(--m3-body-small);
  color: var(--m3-sys-light-on-surface);
}
.textField3 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--m3-sys-light-surface-variant);
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  font-size: var(--m3-body-large-size);
  min-width: 250px;
  max-width: 100%;
  margin-left: -458px;
}
.supportingText3 {
  align-self: stretch;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: left;
}
.supportingText2,
.textField2 {
  flex-direction: row;
  justify-content: flex-start;
}
.supportingText2 {
  height: 20px;
  display: none;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  z-index: 3;
}
.textField2 {
  align-self: stretch;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}
.stroke2 {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--m3-sys-light-on-surface);
  box-sizing: border-box;
  height: 1px;
  max-width: 100%;
}
.labelText1 {
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-family: var(--m3-body-small);
  color: var(--m3-sys-light-on-surface);
  text-align: left;
}
.content,
.labelText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 256px;
  min-height: 40px;
  max-width: 100%;
}
.component1keyboardArrowDowIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.stateLayer1 {
  flex-direction: row;
  padding: var(--padding-5xs);
}
.container,
.stateLayer1,
.trailingIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  border-radius: 100px;
  overflow: hidden;
  flex-direction: row;
  padding: 0 var(--padding-9xs);
}
.trailingIcon {
  height: 48px;
  flex-direction: column;
}
.stateLayer,
.textField5 {
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.stateLayer {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--padding-9xs) 0 var(--padding-9xs) var(--padding-base);
  box-sizing: border-box;
  row-gap: 20px;
}
.textField5 {
  flex: 1;
  background-color: var(--m3-sys-light-surface-variant);
  flex-direction: column;
  align-items: flex-start;
  margin-left: -458px;
}
.supportingText5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  letter-spacing: 0.4px;
  line-height: 16px;
  font-family: var(--m3-body-small);
  color: var(--m3-sys-light-on-surface);
  text-align: left;
}
.supportingText4,
.textField4 {
  flex-direction: row;
  justify-content: flex-start;
}
.supportingText4 {
  height: 20px;
  display: none;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-base) 0;
  box-sizing: border-box;
  z-index: 3;
}
.textField4 {
  align-self: stretch;
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  display: flex;
  align-items: flex-end;
  max-width: 100%;
}
.div,
.labelText2 {
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--m3-body-small);
  color: var(--m3-sys-light-on-surface);
  text-align: left;
}
.div {
  font-weight: 600;
  color: var(--color-gray-100);
}
.wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 22px var(--padding-4xs) 23px;
  background-color: var(--m3-sys-light-surface-variant);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame:hover,
.wrapper:hover {
  background-color: var(--color-lightgray);
}
.div1 {
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--m3-body-small);
  color: var(--color-gray-100);
  text-align: left;
}
.frame {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) 17px var(--padding-4xs) 18px;
  background-color: var(--m3-sys-light-surface-variant);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.div2 {
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--m3-body-small);
  color: var(--m3-sys-light-on-primary);
  text-align: left;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs) var(--padding-4xs) 13px;
  background-color: var(--color-gray-100);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frameButton:hover {
  background-color: #545454;
}
.div3 {
  position: relative;
  font-size: var(--m3-body-large-size);
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--m3-body-small);
  color: var(--color-gray-100);
  text-align: left;
}
.frameParent,
.wrapper1 {
  display: flex;
  flex-direction: row;
}
.wrapper1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs);
  background-color: var(--m3-sys-light-surface-variant);
  flex: 1;
  border-radius: var(--br-9xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 38px;
}
.wrapper1:hover {
  background-color: var(--color-lightgray);
}
.frameParent {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.labelTextParent,
.textFieldParent,
.welcomeOnboardParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.labelTextParent {
  width: 356px;
  gap: var(--gap-xs);
}
.textFieldParent,
.welcomeOnboardParent {
  align-self: stretch;
  gap: 20px;
}
.welcomeOnboardParent {
  align-items: center;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  gap: 30px;
}
.labelText3 {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--m3-body-small);
  color: var(--m3-sys-light-on-primary);
  text-align: center;
}
.button,
.loginSection {
  overflow: hidden;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base);
  background-color: #333;
  border-radius: 8px;
  width: 458px;
  flex-direction: row;
  justify-content: center;
}
.button:hover {
  background-color: #595959;
}
.loginSection {
  margin: 0;
  align-self: stretch;
  border-radius: 16px;
  background-color: var(--m3-sys-light-on-primary);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-41xl) 90px;
  gap: 36px;
}
.forms,
.loginScreen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginScreen {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  width: 602px;
  flex-direction: column;
  max-width: 100%;
}
.forms {
  position: relative;
  background-color: #e0e0e0;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: 141px 20px 142px;
  box-sizing: border-box;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .xyz {
    font-size: 32px;
  }
  .welcomeOnboard {
    font-size: 29px;
  }
  .loginSection {
    padding-top: 39px;
    padding-bottom: 58px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .loginSection {
    gap: 18px;
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .loginScreen {
    gap: 15px;
  }
}
@media screen and (max-width: 450px) {
  .xyz {
    font-size: 24px;
  }
  .welcomeOnboard {
    font-size: 22px;
  }
}
