body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-xl: 20px;

  /* Colors */
  --color-gray-100: #858585;
  --color-gray-200: #767676;
  --color-gray-300: #757575;
  --color-gray-400: #222;
  --white-high-emphasis: #fff;
  --gray-divider: #e5e5e5;
  --color-dimgray: #5f5f5f;
  --color-darkgray: #b3b3b3;
  --color-darkslategray-100: #333;
  --color-black: #000;
  --color-whitesmoke-100: #efefef;
  --color-whitesmoke-200: #e9e9e9;
  --color-red: #ed1c24;

  /* Gaps */
  --gap-lg: 18px;
  --gap-xs: 12px;
  --gap-3xs: 10px;
  --gap-7xs: 6px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-9xs: 4px;
  --padding-3xl: 22px;
  --padding-3xs: 10px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-5xs: 8px;
}






.vector-icon {
  position: relative;
  width: 21.33px;
  height: 21.33px;
}
.icbaseline-arrow-back {
  border-radius: var(--br-7xs);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs);
}
.camera-details1 {
  color: var(--color-black);
}
.cameras-camera-details {
  font-weight: 500;
}
.bank-entrance-front-view-camer,
.vms-cameras-container {
  position: relative;
  letter-spacing: 0.5px;
}
.bank-entrance-front-view-camer {
  font-size: var(--font-size-xs);
  line-height: 24px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.47);
}
.vms-cameras-camera-details-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.view-and-manage {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
  line-height: 24px;
  color: var(--color-black);
}
.frame-group,
.icbaseline-arrow-back-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  width: 422px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.icbaseline-arrow-back-parent {
  flex-direction: row;
  gap: var(--gap-xl);
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  width: 97px;
  height: 48px;
}
.filter-by {
  position: absolute;
  top: 14px;
  left: 19px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.rectangle-parent {
  position: relative;
  width: 97px;
  height: 48px;
  display: none;
  text-align: left;
  font-size: var(--font-size-base);
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  width: 212px;
  height: 48px;
}
.search {
  position: absolute;
  top: 14px;
  left: 21px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.rectangle-group {
  position: relative;
  width: 212px;
  height: 48px;
  display: none;
  text-align: left;
  font-size: var(--font-size-base);
}
.label-text {
  position: relative;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
}
.button,
.button2,
.state-layer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button,
.button2 {
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-9xs) 0;
  color: var(--color-darkslategray-100);
}
.button2 {
  color: var(--color-red);
}
.frame-parent,
.group-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent {
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.frame-parent {
  align-self: stretch;
  gap: 232px;
}
.bxvideo-recording-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.view-recorded-videos {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 500;
}
.bxvideo-recording-parent {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-3xl);
  gap: var(--gap-3xs);
}
.frame-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 600px;
  height: 336.96px;
  object-fit: cover;
}
.pm {
  position: relative;
  letter-spacing: 0.1px;
  font-weight: 600;
  white-space: pre-wrap;
}
.pm-parent {
  position: absolute;
  top: 309px;
  left: calc(50% - 277px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 360px;
}
.rectangle-container {
  position: relative;
  width: 600px;
  height: 336.96px;
}
.active,
.camera-details2 {
  position: relative;
  font-weight: 600;
}
.camera-details2 {
  letter-spacing: 0.1px;
  line-height: 20px;
}
.active {
  letter-spacing: 0.5px;
}
.active-wrapper {
  border-radius: var(--br-9xs);
  background-color: rgba(0, 219, 74, 0.87);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) 8px;
  font-size: var(--font-size-xs);
  color: var(--white-high-emphasis);
}
.camera-details-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.coimbatore,
.location {
  position: relative;
  letter-spacing: 0.1px;
}
.location {
  font-weight: 600;
}
.coimbatore {
  font-size: var(--font-size-smi);
  line-height: 20px;
  color: var(--color-gray-300);
}
.location-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.copy-url,
.delhi-india {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: 0.1px;
}
.delhi-india {
  color: var(--color-gray-300);
}
.copy-url {
  text-decoration: underline;
  color: #0043c4;
}
.frame-parent1 {
  position: absolute;
  top: 22px;
  left: calc(50% - 195px);
  width: 390px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.frame-wrapper1 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--white-high-emphasis);
  border: 1px solid var(--gray-divider);
  box-sizing: border-box;
  width: 436px;
  height: 337px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.group-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
  color: var(--white-high-emphasis);
}
.camera-health-and {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 600;
}
.if-camera-is,
.offline-alert {
  position: relative;
  letter-spacing: 0.1px;
}
.offline-alert {
  font-size: var(--font-size-sm);
  font-weight: 600;
}
.if-camera-is {
  color: var(--color-gray-300);
}
.minutes {
  font-size: var(--font-size-xl);
  font-weight: 500;
}
.emailcom,
.minutes,
.send-an-email {
  position: relative;
  letter-spacing: 0.1px;
}
.emailcom {
  font-weight: 600;
  color: var(--color-gray-400);
}
.send-an-email-to-parent {
  gap: var(--gap-7xs);
  color: var(--color-gray-300);
}
.frame-wrapper3,
.offline-alert-parent,
.send-an-email-to-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.offline-alert-parent {
  gap: var(--gap-xs);
}
.frame-wrapper3 {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 148px);
  width: 297px;
}
.frame-wrapper2 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--white-high-emphasis);
  border: 1px solid var(--gray-divider);
  box-sizing: border-box;
  width: 338px;
  height: 190px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-smi);
}
.div {
  font-size: 28px;
  font-weight: 500;
}
.cheers-this-camera,
.div,
.grade-a {
  position: relative;
  letter-spacing: 0.1px;
}
.cheers-this-camera {
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 244px;
}
.grade-a {
  font-weight: 600;
  color: #4caf50;
}
.cheers-this-camera-had-no-off-parent,
.frame-wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cheers-this-camera-had-no-off-parent {
  gap: var(--gap-7xs);
  font-size: var(--font-size-smi);
  color: var(--color-gray-300);
}
.frame-wrapper5 {
  position: absolute;
  top: calc(50% - 65px);
  left: 21px;
  width: 297px;
}
.frame-wrapper4 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--white-high-emphasis);
  border: 1px solid var(--gray-divider);
  box-sizing: border-box;
  width: 338px;
  height: 190px;
  overflow: hidden;
  flex-shrink: 0;
}
.today-0437-pm-activated-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-300);
}
.frame-wrapper7 {
  position: absolute;
  bottom: 11px;
  left: calc(50% - 148px);
  width: 297px;
  flex-direction: column;
}
.camera-health-and-alert-parent,
.frame-parent4,
.frame-wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent4 {
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.camera-health-and-alert-parent {
  flex-direction: column;
  gap: var(--gap-lg);
}
.view-all {
  position: relative;
  font-size: var(--font-size-base);
  text-decoration: underline;
  letter-spacing: 0.5px;
  line-height: 24px;
  font-weight: 600;
  color: #3c3c3c;
}
.recent-recordings-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  width: 230px;
  height: 167.67px;
  object-fit: cover;
}
.group-icon {
  position: absolute;
  top: 68.33px;
  left: 99px;
  width: 32px;
  height: 32px;
}
.group-child1,
.rectangle-div {
  position: absolute;
  top: 13.97px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-darkgray);
  width: 218.61px;
  height: 5.59px;
  display: none;
}
.group-child1 {
  background-color: var(--color-gray-200);
  width: 16.27px;
}
.span {
  color: var(--color-gray-100);
}
.div1 {
  position: absolute;
  top: 0;
  left: 2.71px;
  letter-spacing: 0.1px;
  line-height: 20px;
  font-weight: 500;
  display: none;
  width: 39.06px;
  height: 11.18px;
}
.rectangle-parent1 {
  position: absolute;
  top: 137.49px;
  left: 5.97px;
  width: 0;
  height: 0;
}
.group-div {
  position: relative;
  width: 230px;
  height: 167.67px;
}
.today-0442-pm {
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.1px;
  color: var(--color-gray-300);
}
.group-parent1,
.recording-0121-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.recording-0121-parent {
  justify-content: flex-start;
  gap: var(--gap-7xs);
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.group-parent1 {
  border-radius: var(--br-9xs);
  justify-content: flex-end;
  padding: var(--padding-xs);
  gap: var(--gap-3xs);
}
.frame-container,
.frame-parent6,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  flex-direction: row;
  gap: var(--gap-xs);
  font-size: var(--font-size-smi);
  color: var(--color-dimgray);
}
.frame-container,
.frame-wrapper {
  flex-direction: column;
}
.frame-container {
  gap: 32px;
}
.frame-wrapper {
  position: absolute;
  top: 35px;
  left: calc(50% - 528px);
}
.camera-details-inner {
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--white-high-emphasis);
  border: 1px solid var(--gray-divider);
  box-sizing: border-box;
  width: 1102px;
  height: 1047px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.camera-details {
  position: absolute;
  top: 76px;
  left: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36px;
}
.pages {
  position: relative;
  background-color: #fbfcfd;
  width: 100%;
  height: 1344px;
  overflow: hidden;
  text-align: left;
  font-size: 36px;
  color: var(--color-gray-400);
  font-family: var(--font-roboto);
}
